# Node
node_modules/

# Expo / React Native caches
.expo/
.expo-shared/
.expo-web-cache/
.expo-dev-cache/
expo-packager-cache-
metro-cache/

# Build outputs
android/
ios/
build/
dist/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
